body {
  --black: #000000;
  --blue: #048b9a;
  --orange: #ff4b27;
  --white: #FFFFFF;
}

h2 { margin-top: 200px; }
h2:first-of-type { margin-top: 0; }

.problem-description {
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 12px;
  margin-bottom: 12px;
}
